[aria-label="Chat list"] > [role="listitem"] {
	filter: blur(3px);
}

[aria-label="Chat list"] > [role="listitem"]:hover {
	filter: none;
}

#main img:not(.emoji) {
	filter: blur(5px);
}

#main img:not(.emoji):hover {
	filter: none;
}
/* Blur only message texts */
.copyable-text span:not([data-lexical-text]){
	filter: blur(2px);
  }  
 /* Remove blur on hover */
.copyable-text span:not([data-lexical-text]):hover {
	filter: none;
  }